<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @lookup.ac_type %>
</p>

<p>
  <b>Name:</b>
  <%= @lookup.name %>
</p>

<p>
  <b>Code:</b>
  <%= @lookup.code %>
</p>

<p>
  <b>Position:</b>
  <%= @lookup.position %>
</p>


<%= link_to 'Edit', edit_lookup_path(@lookup) %> |
<%= link_to 'Back', lookups_path %>
