<div class="row">
  <div class="span6 offset3">
    <%= form_for @menu_category, html: {multipart: true} do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
      <% if f.object.new_record? %>
			  <%= f.hidden_field :gadget_id %>
		  <% end %>
		
	    <%= f.label :name %>
	    <%= f.text_field :name %>

	    <%= f.label :description %>
	    <%= f.text_area :description, rows: 10 %>

	    <%= f.label :image %>
	    <div class="row">
		  	<div class="span2">
					<%= image_tag @menu_category.image.thumb('145x').url if @menu_category.image_uid %></div>
				<div class="span4">
					<%= f.file_field :image %>
					<% if @menu_category.image_uid %>
						<br />Remove on save <%= f.check_box :remove_image %>
					<% end %>
					<%= f.hidden_field :retained_image %>
				</div>
			</div>
			<%= render 'shared/submit_bar', f: f %>
    <% end %>
  </div>
</div>
