<% provide(:title, "Menu Item : "+@menu_item.name) %> 
<h1><%= @menu_item.name %></h1>
<div class="row">
  <div class="span6 offset3">
      <p>
      <b>Name:</b>
        <%= @menu_item.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @menu_item.description %>
      </p>

      <p>
        <b>Price:</b>
        <%= '$'+@menu_item.price.to_s %>
      </p>

      <p>
        <b>Image:</b>
        <%= image_tag @menu_item.image.url if @menu_item.image_uid %>
      </p>

      <span class="edit-link"><%= link_to "Edit Menu Item", edit_menu_item_path %></span>
<span class="back-link"> | <%= link_to "Back", @menu_item.menu_category %></span>
  </div>
</div>
