<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
	<div class="span8">
    <% if @user.gadgets.any? %>
      <h3>Gadgets (<%= @user.gadgets.count %>)</h3>
      <ol class="gadgets">
        <%= render @gadgets %>
      </ol>
      <%= will_paginate @gadgets %>
    <% end %>
  </div>
</div>