<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if !current_user.admin? %>
        <span>
          <%= pluralize(current_user.apps.count, "app") %>
        </span>
      <% end %>
    </section>
  </aside>
  <% if current_user.admin? %>
  	<div class="span8">
      <% if @apps.any? %>
        <h3>Apps</h3>
        <ul class="apps">
          <%= render @apps %>
        </ul>
      <% end %>
      <div class="add-link">
        <%= link_to "Add App", :action => "add_app" %>
      </div>
    </div>
  <% end %>
</div>
<span><%= link_to "Edit Profile", edit_user_path %></span>
<span class="back-link"> | <%= link_to "Back", root_path %></span>
