<div class="row">
  <div class="span6 offset3">
    <%= form_for @gadget, html: {multipart: true} do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
      <% if f.object.new_record? %>
    		<%= f.label :gadget_type %>
		    <%= collection_select(
		    	:gadget, :gadget_type_id, @gadget_types, 
		    	:id, :name, prompt:true) %>
				<%= f.hidden_field :app_id %>
		  <% end %>
		  
	    <%= f.label :label %>
	    <%= f.text_field :label %>

	    <%= f.label :description %>
	    <%= f.text_area :description, rows: 10 %>

		  <%= f.label :icon, 'Icon (128x128 pixel .png recommended)' %>
	    <div class="row">
		  	<div class="span2">
					<% if @gadget.icon.nil? and !f.object.new_record? %>
						<%= image_tag 'gadgets/'+@gadget.type+'.png' %>
					<% else %>
		  			<%= image_tag @gadget.icon.thumb('145x').url if @gadget.icon_uid %>
		  		<% end %>
				</div>
				<div class="span4">
					<%= f.file_field :icon %>
					<% if @gadget.icon_uid %>
						<br />Remove on save <%= f.check_box :remove_icon %>
					<% end %>
					<%= f.hidden_field :retained_icon %>
				</div>
			</div>
			<%= render 'shared/submit_bar', f: f %>
    <% end %>
  </div>
</div>
