<% provide(:title, @gadget.name) %> 
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= render 'icon', gadget: @gadget %>
        <%= @gadget.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= render view_for_gadget @gadget %>
  </div>
</div>
<span><%= link_to "Edit Gadget Info", edit_gadget_path %></span>
<span class="back-link"> | <%= link_to "Back", @gadget.app %></span>
