<% provide(:title, @gadget.name) %> 
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag('gadgets/'+@gadget.icon) %>
        <%= @gadget.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= render view_for_gadget @gadget %>
  </div>
</div>
<span class="edit-link">
  <%= link_to "Edit Info", edit_gadget_path(@gadget) %>
</span>
<span class="back-link"> | <%= link_to "Back", root_path %></span>
