<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @gadget.label %>
</p>

<p>
  <b>Icon:</b>
  <%= @gadget.icon %>
</p>

<p>
  <b>Description:</b>
  <%= @gadget.description %>
</p>

<p>
  <b>Position:</b>
  <%= @gadget.position %>
</p>

<p>
  <b>User:</b>
  <%= @gadget.user_id %>
</p>

<p>
  <b>Gadget type:</b>
  <%= @gadget.gadget_type_id %>
</p>


<%= link_to 'Edit', edit_gadget_path(@gadget) %> |
<%= link_to 'Back', gadgets_path %>
